<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>{% block title %}Recipe Title{% endblock %}</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/journal/bootstrap.min.css"
        rel="stylesheet"
        crossorigin="anonymous"
        />
</head>
<body>

    <header>
        <h1>Website</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; copyright</p>
    </footer>

</body>
