{% extends "hello/base.html" %} 

{% block content %}
<h1 class="text-center">McPlaceholder's Kitchen</h1>

<!--hero video goes here-->
<h2>Chefs Special</h2>
<div class="container bg-secondary my-4">
<div class="row">
<div class="col text-center">
    
    {% load static %}
    <video controls height="480">
        <source src="static/videos/chef_special_short.mp4" type="video/mp4" class="ms-auto" alt="chef's speical">
    </video>

</div>
</div>
</div>

<h2>Community Feedback</h2>
<div class="overflow-auto my-4 border border-info rounded-left" style="height:300px;">
    {% for reply in feedback %}
    <div class="card border-primary m-3">
        <div class="card-body">
            <h5 class="card-title">{{ reply.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ reply.author }}</h6>
            <p class="card-text">{{ reply.description }}</p>
            <h6 class="card-subtitle mb-2 text-muted">{{ reply.created_at|date:"F d, Y" }}</h6>
        </div>
    </div>
    {% endfor %}
</div>
<a class="btn btn-outline-primary" href="{% url 'feedback-create' %}">Give Feedback</a>



{% endblock content%}