{% extends "hello/base.html" %} 

{% block content %}
<h1>{{ object.title }}</h1>
<h2 class="card-subtitle mb-2 text-muted">{{ object.author }}</h2>
<div class="card my-4">
    <div class="card-body">
        <p class="card-text">{{ object.description }}</p>
        <h6 class="card-subtitle mb-2 text-muted">{{ object.created_at | date:"F d, Y" }}
    </div>
</div>
{% if object.author == user or user.is_staff or True %}
<a class="btn btn-outline-info" href="{% url 'recipe-update' object.id %}">Update</a>
<a class="btn btn-outline-danger" href="{% url 'recipe-delete' object.id %}">Delete</a>

{% endif %}

{% endblock content %}
