{% extends "hello/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        {% if form %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create New Password</legend>
            {{ form|crispy }}
        </fieldset>
        {% else %}
        <p>Link has already been used. Reset password again to send another email.</p>
        {% endif %}
        <div class="form-group py-3">
            <input class="btn btn-outline-primary" type="submit" value="Submit">
        </div>
    </form>
</div>

{% endblock content %}
