{% extends "hello/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">Reset Password</legend>
            <div class="form-group py-3">
                <p>Enter the email address  for your account and we will send you an email to reset your password.</p>
            </div>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group py-3">
            <input class="btn btn-outline-primary" type="submit" value="Send Email">
        </div>
    </form>
</div>

{% endblock content %}
