{% extends "hello/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password (confirm)</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group py-3">
            <p>How do i get the new/confirm fields</p>
            <input class="btn btn-outline-primary" type="submit" value="nonfunctional">
        </div>
    </form>
</div>

{% endblock content %}
